<%= t(@project.name) %>

<div class="row">
	<div class="span4">
		<%= render "home/profile" %>
	</div>

	<div class="span8">
		<div class="span12" style="margin-left:-70px">

		<p class="lead"> Kanban Board for <b> <%= @project.name.upcase %> </b> </p>

		<div class="span3">
			<div class="task-block">
				<h3> <blockquote style="color:#666"> TODO <small> <%= link_to "add todo task", "#", class:"task-link", data: {toggle:"modal",target:"#taskModal",task:"todo"} %> </small> </blockquote> </h3>
				<hr />

				<div class='top10'>
					<%= render partial:"tasks/task", collection:@todo %>
				</div>

			</div>
		</div>

		<div class="span3">
			<div class="task-block">
				<h3> <blockquote style="color:#666"> DOING <small> <%= link_to "add doing task", "#", class:"task-link", data: {toggle:"modal",target:"#taskModal",task:"doing"} %> </small> </blockquote> </h3>
				<hr />

				<div class='top10'>
					<%= render partial:"tasks/task", collection:@doing %>
				</div>

			</div>
		</div>

		<div class="span3">
			<div class="task-block">
				<h3> <blockquote style="color:#666"> DONE <small> <%= link_to "add done task", "#taskModal", class:"task-link", data: {toggle:"modal",task:"done"} %> </small> </blockquote> </h3>
				<hr />

				<div class='top10'>
					<%= render partial:"tasks/task", collection:@done %>
				</div>
	
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="taskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	 <div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		  <h3 id="myModalLabel"> Add Task for <span id="taskType"></span>  </h3>
	  </div>

	  <div class="modal-body">
		  <%= form_for [@project,@task] do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name, placeholder: "Enter task name", required:"required" %>
			<%= f.hidden_field :task_type %>

			<br />

		        <div class="modal-footer">
			   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	          	   <button type="submit" class="btn btn-primary">Save changes</button>
	    	        </div>
				
		  <% end %>
	  </div>
</div>
